<div *ngIf="collectionOfCar === 'משעול-מזדמן' || collectionOfCar === 'תנועת הנוער-מזדמן'; then occCar; else conCar">
  <!-- template will replace this div -->
</div>
<ng-template #occCar>
  <mat-grid-list id="endTrip" cols="12" rowHeight="2.5rem">
    <mat-grid-tile class="sound" colspan="1">
      <button mat-icon-button color="primary" (click)="soundNoButClick()">
        <mat-icon>{{
          audioService.isCanPlay ? 'volume_up' : 'volume_off'
        }}</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="collectionOfCar === 'משעול-מזדמן'" class="returnOccCarBtn" colspan="2">
      <button
        (click)="returnOccCar()"
        class="addBtnOcc"
        aria-hidden="false"
        aria-label="החזרה של רכב מזדמן"
      >
        החזרה
      </button>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="collectionOfCar === 'תנועת הנוער-מזדמן'" class="returnOccCarBtn" colspan="2">
      <button
        (click)="returnOccCarTH()"
        class="addBtnOcc"
        aria-hidden="false"
        aria-label="החזרה של רכב מזדמן"
      >
        החזרה
      </button>
    </mat-grid-tile>
    <div id="labelendKM">
      <mat-grid-tile colspan="3">
        <label for="endKM">ק"מ סיום:</label>
      </mat-grid-tile>
    </div>
    <mat-grid-tile colspan="6">
      <div class="endKM" id="divendkm">
        <mat-form-field class="endKM" appearance="fill">
          <mat-label class="endKM">ק"מ סיום - חובה</mat-label>
          <input
            class="endKM"
            matInput
            type="number"
            placeholder='ק"מ סיום'
            (input)="changeEndKM($event)"
            [(ngModel)]="this.endKM"
            [disabled]="!this.carDataService.isCarSelected"
          />
        </mat-form-field>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>

<ng-template #conCar>
  <mat-grid-list id="endTrip" cols="12" rowHeight="2.5rem">
    <mat-grid-tile class="sound" colspan="1">
      <button mat-icon-button color="primary" (click)="soundNoButClick()">
        <mat-icon>{{
          audioService.isCanPlay ? 'volume_up' : 'volume_off'
        }}</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile class="returnOccCarBtn" colspan="2"> </mat-grid-tile>
    <div id="labelendKM">
      <mat-grid-tile colspan="3">
        <label for="endKM">ק"מ סיום:</label>
      </mat-grid-tile>
    </div>
    <mat-grid-tile colspan="6">
      <div class="endKM" id="divendkm">
        <mat-form-field class="endKM" appearance="fill">
          <mat-label class="endKM">ק"מ סיום - חובה</mat-label>
          <input
            class="endKM"
            matInput
            type="number"
            placeholder='ק"מ סיום'
            (input)="changeEndKM($event)"
            [(ngModel)]="this.endKM"
            [disabled]="!this.carDataService.isCarSelected"
          />
        </mat-form-field>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>

<div id="divEndTripBtns">
  <button
    class="endTripBtn"
    mat-raised-button
    id="firstEndTripBtn"
    (click)="endTrip()"
    [disabled]="!this.carDataService.isCarSelected"
  >
    סגור נסיעה
  </button>
  <button
    class="endTripBtn"
    mat-raised-button
    (click)="closeAndContinuedTrip()"
    [disabled]="!this.carDataService.isCarSelected"
  >
    סגור נסיעה<br />ופתח נסיעת המשך
  </button>
</div>

<!-- TODO: לסדר כפתור המשך נסיעה -->
