.billPickrToolbar {
  background-color: rgb(203, 200, 243);
  margin-bottom: 8px;
  text-align: center;
}
.example-full-width {
  padding-right: 16px;
}

.btnsDetails {
  display: grid;
  font-size: 0.5rem;
  color: black;
  justify-items: center;
  align-items: center;
}
