.main-card {
  max-width: 400px;
  // width: 100%;
  width: 21rem;
}
.main-div {
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translate(-50%);
}

#singUpBtn {
  width: -webkit-fill-available;
  margin-top: 1.3rem;
}

// .div-card {
//   position: absolute;
//   justify-content: center;
//   align-items: center;
//   top: 10rem;
//   left: 50%;
//   transform: translate(-50%);
// }

mat-card-header {
  justify-content: center;
  text-align: center;
  width: 100%;
}

// .div-card-firstTime {
//   position: absolute;
//   justify-content: center;
//   align-items: center;
//   top: 1rem;
//   left: 50%;
//   transform: translate(-50%);
//   max-width: 400px;
// }
// .card-from {
//   width: 20rem;
//   text-align: center;
// }

// .title-open-from {
//   display: block;
// }

// #initialCode {
//   width: 100%;
// }

// #openDialogEmailsingin {
//   display: flex;
//   margin-top: 1rem;
//   font-size: 0.8rem;
// }

// .inputLabel {
//   font-size: 1rem;
// }

// .mainBillol {
//   margin: 0;
//   padding: 0;
//   counter-reset: item;
// }

// .mainBillli {
//   float: right;
//   margin-left: 0.5em;
//   padding: 0;
//   text-indent: 0;
//   list-style-type: none;
//   counter-increment: item;
// }

// .mainBillol > li:before {
//   display: inline-block;
//   width: 1em;
//   padding-right: 0;
//   font-weight: bold;
//   text-align: right;
//   content: counter(item) '.';
// }

// #mainBillDisplay {
//   display: flow-root;
// }
// #mainBillDisplay > h3 {
//   margin-top: 0;
// }
// #constTripLadel > ::ng-deep figure {
//   justify-content: start;
// }
// .constTrip {
//   text-align: right;
// }

// #singUpBtn {
//   width: -webkit-fill-available;
//   margin-top: 1.3rem;
// }
