<mat-card class="example-card">
  <mat-sidenav-container>
    <mat-sidenav-content>
      <img
        id="headerImage"
        mat-card-image
        src="../../../assets/img/TravelRegistion.jpg"
        alt="Photo of a Travel registration"
      />
      <button
        mat-stroked-button
        color="primary"
        routerLink="/profile/child"
        id="addChild"
      >
        הוספת ילדים
      </button>
      <div class="carSelector">
        <button class="btnsDetails" routerLink="/profile">
          <mat-icon aria-label="כפתור לפתיחה של פרטים אישים"
            >account_circle</mat-icon
          ><br />
          עדכון פרטים
        </button>
        <app-car-selector [carName]="carData['name']"></app-car-selector>
        <button
          class="btnsDetails"
          (click)="getLastTripDate()"
          (click)="sidenavCarDetails.toggle()"
        >
          <mat-icon aria-label="כפתור לפתיחה נתונים על רכב נבחר"
            >drive_eta</mat-icon
          ><br />פרטי רכב
        </button>
      </div>
      <div class="startKM">
        <button
          mat-button
          color="accent"
          (click)="sidenavConstTrips.toggle()"
          [disabled]="!this.carDataService.isCarSelected"
        >
          נסיעות קבועות
        </button>

        <app-start-km
          [startKM]="carData['currentTrip']['startKM']"
        ></app-start-km>
      </div>
      <app-pas-selector></app-pas-selector>
      <button
        mat-raised-button
        color="primary"
        id="startTripBtn"
        (click)="startCurrentTrip()"
        [disabled]="!this.carDataService.isCarSelected"
      >
        {{ this.carDataService.startTripBtnText }}
      </button>
      <app-end-trip id="endTrip"></app-end-trip>
    </mat-sidenav-content>

    <!--חלון צד לנסיעות קבועות  -->
    <mat-sidenav
      class="sidenav"
      #sidenavConstTrips
      mode="over"
      [(opened)]="this.carDataService.constTrip"
    >
      <mat-toolbar color="accent">
        <mat-toolbar-row>
          <mat-icon
            svgIcon="cancel_outline"
            (click)="sidenavConstTrips.toggle()"
            class="closedBTN"
          ></mat-icon>
          <span class="sideTitle">נסיעות קבועות</span>
          <mat-icon
            routerLink="/new-const-trip"
            id="addConstTrip"
            class="addBtn"
            aria-hidden="false"
            aria-label="הוסף נסיעה קבוע"
            >add</mat-icon
          >
        </mat-toolbar-row>
      </mat-toolbar>
      <mat-list>
        <mat-list-item *ngFor="let constTrip of constTrips">
          <div class="btnConstTrip">
            <button
              mat-button
              color="primary"
              (click)="gatConstTrip(constTrip)"
              (click)="sidenavConstTrips.toggle()"
            >
              {{ constTrip.name }}
            </button>
            <div>
              <mat-icon
                [routerLink]="['/new-const-trip', constTrip.name]"
                class="editConstTrip"
                aria-hidden="false"
                aria-label="עריכה של נסיעה קבוע"
                (click)="sidenavConstTrips.toggle()"
                (click)="this.carDataService.constTrip = false"
                >edit</mat-icon
              >
              <mat-icon
                class="editConstTrip"
                id="deleteConstTrip"
                aria-hidden="false"
                aria-label="עריכה של נסיעה קבוע"
                (click)="sidenavConstTrips.toggle()"
                (click)="deleteConstTrip(constTrip)"
                >delete</mat-icon
              >
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>

    <!-- חלון צד לפרטי רכב -->
    <mat-sidenav class="sidenav" #sidenavCarDetails mode="over" position="end">
      <mat-toolbar color="primary">
        <mat-toolbar-row class="sidenavtoolbar">
          <mat-icon
            svgIcon="cancel_outline"
            (click)="sidenavCarDetails.toggle()"
            class="closedBTN"
          ></mat-icon>
          <span class="sideTitle">פרטי רכב</span>
          <mat-icon
            *ngIf="user?.canEditCar === true"
            routerLink="/add-car-detail"
            class="addBtn"
            aria-hidden="false"
            aria-label="הוסף נסיעה קבוע"
            >create</mat-icon
          >
        </mat-toolbar-row>
      </mat-toolbar>
      <mat-list>
        <mat-list-item>
          <h4 matLine><b>שם רכב:</b></h4>
          <div matLine>
            {{ carData.name }}
          </div>
          <div [ngSwitch]="carData.collectionOfCar">
            <div *ngSwitchCase="'משעול-מזדמן'"></div>
            <button
              *ngSwitchCase="'חלופים'"
              (click)="removeRepCar()"
              (click)="sidenavCarDetails.close()"
              [disabled]="!this.carDataService.isCarSelected"
            >
              הוצא רכב חלופי
            </button>
            <button
              *ngSwitchDefault
              [routerLink]="['/add-rep-car', carData.name]"
              [disabled]="!this.carDataService.isCarSelected"
            >
              הכנסת רכב חלופי
            </button>
          </div>
        </mat-list-item>
        <mat-list-item>
          <h4 matLine><b>מספר רכב:</b></h4>
          <div matLine>
            {{ carData.carNumber }}
          </div>
        </mat-list-item>
        <mat-list-item>
          <h4 matLine><b>קוד רכב:</b></h4>
          <div matLine>
            {{ carData.code }}
          </div>
        </mat-list-item>
        <mat-list-item>
          <h4 matLine><b>נסיעה אחרונה:</b></h4>
          <div matLine>
            <div matLine><b>שם נהג:</b> {{ carData.lastTrip.driver.name }}</div>
            <div matLine>
              <b>נסגרה בתאריך:</b>
              {{ dateLastTrip }}
            </div>
            <div matLine>
              <b>ק"מ סיום:</b>
              {{ carData.lastTrip.endKM }}
            </div>
          </div>
        </mat-list-item>
        <mat-list-item class="content-list-item">
          <h4 matLine><b>אחראי רכב:</b></h4>
          <div matLine>
            {{ carData.responsible }}
          </div>
        </mat-list-item>
        <mat-list-item class="content-list-item">
          <h4 matLine><b>טלפון שירות דרכים:</b></h4>
          <div matLine>
            {{ carData.rentCompany.name }} - {{ carData.rentCompany.tel }}
          </div>
        </mat-list-item>
        <mat-list-item>
          <h4 matLine><b>בעיות ידועות ברכב:</b></h4>
          <div matLine></div>
        </mat-list-item>
        <mat-list-item>
          <h4 matLine><b>למי מותר לנוהג:</b></h4>
          <div matLine>
            {{ carData.permissibletoDrive }}
          </div>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
  </mat-sidenav-container>
</mat-card>
