$btn-margin-left: 40px;
$mat-width: 120px;

.carSelector {
  margin-bottom: 2px;
}

#btnCarSelector {
  background-color: rgb(175, 214, 208);
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  justify-items: center;
  align-items: center;
  overflow-wrap: break-word;
  white-space: normal !important;
  word-wrap: break-word;
}

.btnProfile {
  background-color: whitesmoke;
  height: 100%;
}
