<mat-grid-list cols="7" rowHeight="4.5rem">
  <mat-toolbar class="pasPickrToolbar">
    <mat-toolbar-row class="pasPickrToolbar">
      <mat-grid-tile colspan="4">
        <div>
          בחר שם {{ displayName }}<br>
          <strong class="ToolbarPasName">{{ pasName ? pasName : 'לא ניבחר' }}
          </strong>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <div>
          <p>{{carName}}<br> קוד:{{carCode}}</p>
        </div>
      </mat-grid-tile>
      <mat-icon svgIcon="cancel_outline" (click)="closedPasPickr()" class="closedBTN"></mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
</mat-grid-list>

<mat-grid-list id="pasNameGrid" cols="11" rowHeight="3.8rem">
  <mat-grid-tile colspan="5">
    <form class="example-form">
      <mat-form-field id="enterName" class="example-full-width">
        <input type="text" id="enterName" placeholder="שם נוסע" aria-label="conCar" matInput [formControl]="myControl"
          [matAutocomplete]="auto" />
        <mat-autocomplete #auto="matAutocomplete"> </mat-autocomplete>
      </mat-form-field>
    </form>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <div class="btnsDetails" *ngIf="auth.user$ | async as user">
      <button mat-mini-fab color="primary" (click)="choosePas(user.displayName)">
        <mat-icon aria-label="Example icon-button with a heart icon">account_circle</mat-icon>
      </button><br />
      מלא שם שלי
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <button mat-stroked-button color="accent" *ngIf="displayName === 'נהג'" (click)="openConstTrip()"
      aria-hidden="false" id="openConstTrip" aria-label="כפתור נסיעות קבועות">
      נסיעות<br />קבועות
    </button>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <div class="btnsDetails">
      <button mat-button color="warn" *ngIf="pasName !== ''" (click)="choosePas('אפס שם')">
        אפס שם <br />ויעד חיוב
      </button>
      <button mat-button color="warn" *ngIf="pasName === ''" (click)="choosePas('אפס שם')">
        אין נוסעים <br />נוספים
      </button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<mat-nav-list *ngFor="let option of filteredOptions | async">
  <mat-option (click)="choosePas(option)" [value]="option">
    {{ option }}
  </mat-option>
</mat-nav-list>