.pasPickrToolbar {
  background-color: rgb(235, 184, 184);
  margin-bottom: 8px;
  text-align: center;
}
.example-full-width {
  padding-right: 16px;
}

#openConstTrip {
  font-size: 0.7rem;
}
#enterName {
  right: 10px;
}
.btnsDetails {
  display: grid;
  font-size: 0.5rem;
  color: black;
  justify-items: center;
  align-items: center;
}
.ToolbarPasName {
  color: rgb(36, 48, 218);
}
