<mat-grid-list cols="5" rowHeight="2rem">
  <mat-grid-tile id="labelStartKM" [colspan]="2">
    <label for="startKM">ק"מ התחלה:</label>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3">
    <div class="startKM" id="divstartkm">
      <mat-form-field class="startKM" appearance="fill">
        <mat-label class="startKM">ק"מ התחלה - חובה</mat-label>
        <input
          class="startKM"
          matInput
          type="number"
          placeholder='ק"מ התחלה'
          [(ngModel)]="carData['currentTrip']['startKM']"
          [disabled]="!this.carDataService.isCarSelected"
        />
      </mat-form-field>
    </div>
  </mat-grid-tile>
</mat-grid-list>
