.startKM {
  font-size: 0.9rem;
  width: 9rem;
  position: relative;
}

#divstartkm {
  top: 9px;
}

.mat-grid-list {
  top: 5px;
}

#labelStartKM {
  text-align: left;
}

#btnLastTrip {
  text-align: center;
  font-size: 0.8em;
}
