@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.custom-dialog .mat-dialog-container {
  height: 80vh;
  width: 95vw;
  padding: 0px !important;
}

.confirmedLongTrip .mat-dialog-container{
  background: rgb(236, 185, 185)
}
