.btnPas {
  width: 100%;
  // background-color: lightgray;
  padding: 0;
  text-align: center;
  font-size: 0.9rem;
}

// .btnPasFull {
//   width: 100%;
//   background-color: rgb(175, 214, 208);
//   padding: 0;
//   text-align: center;
//   font-size: 0.9rem;
// }

.btnBillFull {
  width: 100%;
  background-color: rgb(142, 175, 170);
  padding: 0;
  text-align: center;
  font-size: 0.9rem;
}

.mat-grid-list {
  top: 10px;
  font-size: 0.9rem;
  width: 100%;
  margin-bottom: 10px;
}

.startKM {
  font-size: 0.9rem;
  width: 9rem;
  position: relative;
}

#divstartkm {
  top: 9px;
}
