.btnPas {
  width: 100%;
  background-color: rgb(235, 184, 184);
  padding: 0;
  text-align: center;
  font-size: 0.9rem;
}

.btnbill {
  background-color: rgb(203, 200, 243);
}

.mat-grid-list {
  top: 10px;
  font-size: 0.9rem;
  width: 100%;
  margin-bottom: 10px;
}

.startKM {
  font-size: 0.9rem;
  width: 9rem;
  position: relative;
}

#divstartkm {
  top: 9px;
}
